.languageCard {
  display: flex;
  align-items: center;
  gap: 5px;
}

.languageCard img {
  width: 30px;
}

@media only screen and (min-width: 831px) {
  #aboutSubtitle {
    margin-top: 2vh;
    margin-bottom: 1.3vh;
  }
  .languageCard img {
    width: 40px;
  }
}
