@media only screen and (min-width: 831px) {
  main .intro {
    width: 100vw;
    padding-left: 4vw;
    padding-top: 7vh;
  }
}

@media only screen and (max-width: 830px) {
  main .intro {
    padding-top: 7vh;
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
  }
}
