#emailIcon,
#emailIconLight {
  width: 20px;
}

#phoneIcon,
#phoneIconLight {
  width: 25px;
}

#addressIcon,
#addressIconLight {
  width: 30px;
}

.infoContainer {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
}

.iconsContainer {
  display: grid;
  place-content: center;
}
