* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  z-index: 1;
  overflow: hidden;
}

body {
  height: 100vh;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:link {
  color: #6495ed;
}

a:visited {
  color: #6495ed;
}

.lightMode {
  background-color: white;
  color: black;
}

.darkMode {
  background-color: black;
  color: white;
}

main {
  display: grid;
  place-content: center;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.titleContainer {
  display: flex;
  gap: 50px;
}

.titleContainer p {
  font-size: 1.4rem;
  font-weight: bold;
}

.titleContainer h1:hover {
  cursor: pointer;
}

.titleIcons {
  display: flex;
  gap: 10px;
}

.titleIcons img {
  width: 20px;
}

.titleIcons img:hover {
  cursor: pointer;
}

.pageContainer {
  width: 100vw;
  padding-left: 3vw;
  padding-right: 3vw;
  text-align: justify;
}

.projectLinksContainer {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.projectGHIcon {
  width: 30px;
}
.projectLinkIcon {
  width: 30px;
}

@media only screen and (min-width: 831px) {
  .footer-home nav {
    display: none;
  }
  .header-home nav {
    padding-top: 30px;
  }

  .header-home nav div {
    width: 50%;
  }
  .titleContainer {
    display: flex;
    padding-left: 1vw;
    padding-top: 1vh;
    font-size: 1.7rem;
  }

  .pageContainer {
    padding-top: 4vh;
  }

  h1 {
    margin-bottom: 1vh;
  }
}

@media only screen and (max-width: 830px) {
  .pageContainer {
    padding-top: 3vh;
  }

  h1 {
    font-size: 1.8rem;
    white-space: nowrap;
  }
  h2 {
    font-size: 1rem;
  }
  .titleContainer {
    justify-content: space-between;
    gap: 0px;
    width: 100vw;
    padding-left: 3vw;
    padding-right: 3vw;
  }

  .header-home nav {
    display: none;
  }
  main .intro {
    padding-top: 7vh;
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.invisible {
  display: none;
}
