.projectContainer {
  text-align: justify;
}

.projectContainer h2:hover {
  cursor: pointer;
}

@media only screen and (min-width: 831px) {
  .projectWindow {
    padding-top: 0.5vh;
    padding-bottom: 1vh;
  }
}

@media only screen and (max-width: 830px) {
  .pageContainer h1 {
    margin-bottom: 2vh;
  }
  .pageContainer h2 {
    font-size: 1.7rem;
  }
}
